@{
    ViewBag.Title = "Autodesk Developer Network";
}

<div class="content-wrapper">

    <br>
    <hgroup class="title">
        <h1>@ViewBag.Title</h1>
    </hgroup>
    <br>

    <article>
        <br>
        <br>
        <p>
            Written By <a href="http://adndevblog.typepad.com/cloud_and_mobile/philippe-leefsma.html">Philippe Leefsma</a>, 2014.

            <br>
            <br>
            <h3>Visit our Blog Now!</h3>
            <br>
            <a href="http://adndevblog.typepad.com/cloud_and_mobile/">ADN Cloud & Mobile DevBlog</a>
        </p>
    </article>

</div>