<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ServiceSection" requirePermission="false" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <configProtectedData />
  <ServiceSection>
    <!--Setting for each service -->
    <!--Proxy Name of the service -->

    <service name="ZGWSAMPLE_SRV">
      <!--service version number-->
      <add key="ServiceVersion" value="1" />
      <!--service url options-->
      <add key="Url" value="https://sapes1.sapdevcenter.com:443/sap/opu/odata/sap/ZGWSAMPLE_SRV/" />
      <!--This is the placeholder to enable/disable Atom Delta Token Handling. you can specify the following values for Delta Token handling
    a. Enable:-
       <add key="EnableDeltaTOken" value="Enabled"/>
    b. Disable:-
       <add key="EnableDeltaTOken" value="Disabled"/>-->
      <add key="EnableDeltaToken" value="Disabled" />
      <!--Project GWPAM Authenctication mode. You can specify the following values for authentication
  a. SAML:- 
    <add key="SSO" value="SAML20"/>
  b. X509
    <add key="SSO" value="X509"/>
  c. BASIC:-
    <add key="SSO" value="BASIC"/>
  d. Kerberos:-
    <add key="SSO" value="KERBEROS"/>-->
      <add key="SSO" value="BASIC" />
      <!-- SAP Client to which the service is connected.For a non SAP Netweaver Gateway service, this option is Empty-->
      <add key="Client" value="" />
      <!-- Root Certificate Subject Name. Required in order to specify a specific X509 Root certificate to be used with X509 Certificate -->
      <add key="RootCASubjectName" value="" />
    </service>
  </ServiceSection>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="TraceListener" type="System.Diagnostics.TextWriterTraceListener"
          initializeData="Trace.log" traceOutputOptions="None" />
        <remove name="Default" />
        <!-- This listener helps logging into EventViewer, comment this if logging in EventViewer is not required
        By default it logs in default log channel which is 'Application', the user can create own source and mention the name in initializeData property -->
        <add name="EventListener" type="System.Diagnostics.EventLogTraceListener"
          initializeData="Application">
        </add>
        <remove name="Default" />
      </listeners>
    </trace>
    <switches>
      <!-- Switch on/off the logging 0-Off \ 1- Error Only \2- Warning messages and error messages \ 3-Informational messages, warning messages, and error messages \4-Verbose messages, informational messages, warning messages, and error messages -->
      <add name="TraceLevel" value="4" />
    </switches>
  </system.diagnostics>
  
  <appSettings>
  </appSettings>
</configuration>
